<% action_url = (action == "create") ? tracks_url : track_url(track) %>
<% submit_value = (action == "create") ? "Create Track" : "Update Track" %>


<form action="<%= action_url %>" method="post" class="login_signup_form">
  <%= auth_token %>
  <% if action == "edit" %>
    <%= patch_method %>
  <% end %>

  <input type="hidden" name="track[album_id]" value="<%= album.id %>">
  <input type="hidden" name="track[band_id]" value="<%= band.id %>">

  <div class="input_field_holder">
    <label for="track_title">Title:</label>
    <input type="text" name="track[title]" id="track_title" value="<%= track.title %>">
  </div>

  <div class="input_field_holder">
    <label for="track_ord">Track Number:</label>
    <input type="number" name="track[ord]" id="track_ord" value="<%= track.ord %>">
  </div>

  <label class="radio_button_label">Track Type:</label>

    <div class="radio_button_holder">
        <label for="track_type_regular">Regular</label>
        <input type="radio" name="track[track_type]" id="track_type_regular" value="REGULAR" <%= "checked" if track.track_type == "REGULAR" %>>

        <label for="track_type_bonus">Bonus</label>
        <input type="radio" name="track[track_type]" id="track_type_bonus" value="BONUS" <%= "checked" if track.track_type == "BONUS" %>>
    </div>

  <label for="track_lyrics" class="radio_button_label">Lyrics:</label>
  <textarea name="track[lyrics]" id="track_lyrics" wrap="off" cols="30" row="30" class="general_textarea">
    <%= track.lyrics %>
  </textarea>

  <input type="submit" value="<%= submit_value %>" class="login_signup_button">
  


</form>