<p id="notice"><%= notice %></p>

<h1>Tracks for <a href="<%= album_url(@album) %>" class="band_name"><%= @album.title %></a></h1>


<% @tracks.each do |track| %>
  <div class="band_card">
    <%= render track %>
    <a href="<%= track_url(track) %>" class="login_signup_button">View Track</a>
  </div>
<% end %>
