<p id="notice"><%= notice %></p>


<h1><%= @track.title %></h1>

<table class="album_table">
  <caption>Track</caption>
  <tr>
    <td>Title:</td>
    <td><%= @track.title %></td>
  </tr>
  <tr>
    <td>Album:</td>
    <td><%= @track.album.title %></td>
  </tr>
  <tr>
    <td>Track Number:</td>
    <td><%= @track.ord %></td>
  </tr>
</table>

<h2>Lyrics:</h2>

<div class="lyrics_display">
  <pre>
    <%= @track.lyrics %>
  </pre>
</div>

<div class="button_container">
  <a href="<%= edit_track_path(@track) %>" class="login_signup_button">Edit Track</a>
<a href="<%= tracks_path(@track.album) %>" class="login_signup_button">Back to <%= @track.album.title %>' tracks </a>
</div>
