<p id="notice"><%= notice %></p>


<h1><%= @track.title %></h1>

<%= render 'track', track: @track, album: @album %>

<h2>Lyrics:</h2>

<div class="lyrics_display">
  <pre>
    <%= @track.lyrics %>
  </pre>
</div>

<div class="button_container">
  <a href="<%= edit_track_url(@track) %>" class="login_signup_button">Edit Track</a>
<a href="<%= album_tracks_url(@album) %>" class="login_signup_button">Back to <%= @album.title %>'s tracks </a>
</div>
