<h1>Edit Album "<%= @album.title %>" for <%= @band.name %></h1>

<form action="<%= albums_url %>" method="post" class="login_signup_form" id="new_album_form">
    <%= auth_token %>
    <%= patch_method %>

    <input type="hidden" name="album[band_id]" value="<%= @band.id %>">

    <div class="input_field_holder">
        <label for="album_title">Title:</label>
        <input type="text" name="album[title]" id="album_title" value ="<%= @album.title %>">
    </div>


    <div class="input_field_holder">
        <label for="album_year">Year:</label>
        <input type="number" name="album[year]" id="album_year" value ="<%= @album.year %>">
    </div>


    <label class="radio_button_label">Album Type:</label>

    <div class="radio_button_holder">
        <label for="album_type_live">Live</label>
        <input type="radio" name="album[album_type]" value="LIVE" <%= "checked" if @album.album_type == "LIVE" %>>

        <label for="album_type_studio">Studio</label>
        <input type="radio" name="album[album_type]" id="album_type_studio" value="STUDIO" <%= "checked" if @album.album_type == "STUDIO" %>>
    </div>

    <input type="submit" value="Update Album" class="login_signup_button">
</form>